html {
  min-height: 100%;
  background: var(--bg-color);
  color: var(--text-primary-color);
  font-family: var(--font-base);
}

body {
  min-height: 100vh;
  margin: 0;
  background: var(--bg-color);
  color: var(--text-primary-color);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
